@model DiyetisyenGultenManav.Entities.Contact

@{
    ViewBag.Title = "İletişim Sil";
}
    <style>
        .sayfaArkaPlan {
            /*background: #DE6262;*/ /* fallback for old browsers */
            /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
            /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            /*        background-color: rgba(222, 98, 98, 0.5);*/
            background: rgba(215, 189, 226, 0.7);
            background: -webkit-linear-gradient(to right, rgba(215,189,226,0.8), rgba(155, 89, 182, 0.7));
            background: linear-gradient(to right, rgba(215,189,226,0.8), rgba(155, 89, 182, 0.7));
            min-height: 1000px;
            height: 100%;
            min-width: 100%;
        }
    </style>
<div class="sayfaArkaPlan pl-5 pt-3 mr-0 ">
    <div class="row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>
    <div class="row pl-3 mr-0">
        <div class="col-md-10">
            <div>
                <dl class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IsimSoyisim)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.IsimSoyisim)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.TelefonNumarasi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.TelefonNumarasi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Konu)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Konu)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Mesaj)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Mesaj)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Zaman)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Zaman)
                    </dd>

                </dl>
            </div>
        </div>
        <div class="col-md-10 pl-3 text-left">
            <h3><b>Silmek istediğinize Emin misiniz ? </b></h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Bootstrap.LinkButton("/Paket/Index", "secondary", string.Empty,
         string.Empty, "arrow-left", "Geri Dön!")
                    @Bootstrap.Button("danger", string.Empty, "submit", "trash", "Sil")

                </div>
            }
        </div>
    </div>
</div>