@model DiyetisyenGultenManav.Entities.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsimSoyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsimSoyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonNumarasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonNumarasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Konu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mesaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesaj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
