@model DiyetisyenGultenManav.Entities.Kullanıcı

@{
    ViewBag.Title = "KULLANICI OLUŞTUR";
}
<link href="~/Content/validation-summary.css" rel="stylesheet" />
<link href="~/Content/new-login-style-kullanici.css" rel="stylesheet" />
<div class="login-block pl-5 pt-3 mr-0 ">
    <div class="row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>
    <div class="row pl-5 mr-0">
        <div class="col-md-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class=" form-group row">
                    <div class="col-md-12 pr-0">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.DogumTarihi, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.TelefonNumarası, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.TelefonNumarası, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Boy, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Boy, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.Kilo, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Kilo, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.Meslek, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Meslek, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Sehir, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Sehir, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Hastalik, htmlAttributes: new { @class = "col-form-label font-weight-bold  col-md-2" })

                    @Html.EditorFor(model => model.Hastalik, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Tahlil, htmlAttributes: new { @class = "col-form-label font-weight-bold  col-md-2" })

                    @Html.EditorFor(model => model.Tahlil, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Hikaye, htmlAttributes: new { @class = "col-form-label font-weight-bold  col-md-2" })

                    @Html.EditorFor(model => model.Hikaye, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Anammez, htmlAttributes: new { @class = "col-form-label font-weight-bold  col-md-2" })

                    @Html.EditorFor(model => model.Anammez, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsAdmin)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.IsOnline, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsOnline)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.IsNormal, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsNormal)
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.IsPayOnline, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsPayOnline)
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12 pr-0 text-right">
                        @Bootstrap.LinkButton("/Kullanıcı/Index", "secondary", string.Empty,
                string.Empty, "arrow-left", "Geri Dön!")
                        @Bootstrap.Button("success", string.Empty, "submit", "save", "Oluştur")
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h3>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            <br />  <b>açıklama konulacak</b>
        </h3>
    </div>
</div>