@using DiyetisyenGultenManav.Entities.ValueObjects
@model HomeViewModel
@{
    ViewBag.Title = "Blog";
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="row m-3 ">
    <div class="col-md-2">
        @Html.Partial("_PartialKategoriler")

    </div>
    <div class="col-md-10">
        @Html.Partial("_PartialCarousel")
        <div class="row row row-cols-1 row-cols-md-3 ">

            @foreach (var blogYazısı in Model.BlogYazısı)
            {
                <div class="col mb-4">
                    <div class="card ">
                        <img src="" class="card-img-top" alt="@blogYazısı.Title">
                        <div class="card-body">
                            @*<h5 class="card-title">
                                    <a href="#" data-target="#modal_notedetail" data-toggle="modal"
                                       data-note-id="@note.Id"> @note.Title</a>
                                </h5>*@
                            <p class="card-text">
                                @if (string.IsNullOrEmpty(blogYazısı.Text) == false && blogYazısı.Text.Length > 60)
                                {
                                    @(blogYazısı.Text.Substring(0, 60) + "...")
                                }
                                else
                                {
                                    @blogYazısı.Text
                                }
                            </p>
                            <p class="card-text text-right">
                                <small class="text-muted">
                                    <i class="fa fa-user mr-2"></i>@blogYazısı.Owner.Username<br />
                                    <i class="fa fa-clock-o mr-2"></i>@blogYazısı.ModifiedOn.ToString("dd.MM.yy HH:mm")
                                </small>
                            </p>
                        </div>
                        <div class="card-footer">
                            @Bootstrap.LinkButton("/Home/BlogYazisiDetails/" + blogYazısı.Id, "outline-info", "btn-sm", "Details", string.Empty, "Detay")
                            @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="ratings">
                                            <button class="btn btn-default btn-sm" type="button" data-liked="false" data-note-id="@note.Id">
                                                <i class="fa fa-star-o like-star mr-1"></i>&nbsp;
                                                <span class="like-count">@note.LikeCount</span>
                                            </button>
                                            <button class="btn btn-default btn-sm " data-toggle="modal"
                                                    data-target="#modal_comment" data-note-id="@note.Id">
                                                <i class="fa fa-comment mr-1"></i>
                                                <span>@note.Comments.Count</span>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <a href="#" data-toggle="modal" data-target="#modal_notedetail"
                                           data-note-id="@note.Id" class="btn btn-default">Detay <i class="fa fa-info-circle ml-2"></i></a>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
@section map{
    @Html.Partial("_PartialMap")
}
@section footer{
    @Html.Partial("_PartialFooter")
}
