@model DiyetisyenGultenManav.Entities.BlogYazısı
@{
    ViewBag.Title = "Blog Yazısı";
}
<style>
    .resim {
        max-height: 1000px;
        width: 100%;
        height: 100%;
        min-width: 1000px;
    }
</style>

<div class="row m-3">
    <div class="col-md-2">
        @*@Html.Partial("_PartialKategoriler")*@
    </div>
    <div class="col-md-10">
        <!-- Page Content -->
        <!-- Post Content Column -->
        <div class="col-md-10">

            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1> <br />

            <p class="lead">
                <!-- Author -->
                <i class="fa fa-user mr-2"></i>@Model.Owner.Username &emsp;
                <!-- Date/Time -->
                <i class="fa fa-clock-o mr-2"></i>@Model.ModifiedOn.ToString("dd.MM.yy HH:mm")
            </p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded resim" src="~/ImageBlog/@Model.Picture" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">@Model.ParagrafBir</p>

            <p>@Model.ParagrafIki</p>

            <p>@Model.ParagrafUc</p>

            <blockquote class="blockquote">
                <p class="mb-0">@Model.ParagrafDort</p>

                <footer class="blockquote-footer">
                    @Model.ParagrafBes
                </footer>
            </blockquote>
            <p>@Model.ParagrafAlti</p>

            <p>@Model.ParagrafYedi</p>

            <p>@Model.ParagrafSekiz</p>
            <p></p>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <!-- Comment with nested comments -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                </div>
            </div>

        </div>




    </div>
</div>
