@using DiyetisyenGultenManav.Entities
@model Kullanıcı
@{
    ViewBag.Title = "Profiliniz";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="row pl-5 pt-5">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            <b> Kullanıcı Hesabı</b>
        </p>
    </div>
</div>

<div class="row p-5">
    <div class="col-md-2">
        <img src="~/Images/@Model.ProfileImageFileName" class="rounded-circle img-thumbnail" width="256" height="256" />
    </div>
    <div class="col-md-10 mb-4">
        <h3>@(Model.Name + " "+ Model.Surname)</h3>
            
        <p>
            <b>@Html.DisplayNameFor(model => model.Username) : </b>@Model.Username<br />
            <b>@Html.DisplayNameFor(model => model.Email) : </b>@Model.Email <br />
            <b>@Html.DisplayNameFor(model => model.TelefonNumarası) : </b>@Model.TelefonNumarası <br />
            <b>@Html.DisplayNameFor(model => model.DogumTarihi) : </b>@Model.DogumTarihi <br />
            <b>@Html.DisplayNameFor(model => model.Boy) : </b>@Model.Boy <br />
            <b>@Html.DisplayNameFor(model => model.Kilo) : </b>@Model.Kilo <br />
            <b>@Html.DisplayNameFor(model => model.Meslek) : </b>@Model.Meslek <br />
            <b>@Html.DisplayNameFor(model => model.Sehir) : </b>@Model.Sehir <br />
        </p>
        
        <br />
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>