@model DiyetisyenGultenManav.Entities.BlogYazısı
@{
    ViewBag.Title = "BLOG YAZISI EKLE";
}
<link href="~/Content/new-login-style.css" rel="stylesheet" />
<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="login-block pl-5 pt-3 mr-0 ">
    <div class="row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>
    <div class="row pl-5 mr-0">
        <div class="col-md-10">
            @using (Html.BeginForm("Create", "BlogYazısı", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class=" form-group row">
                    <div class="col-md-12 pr-0">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafBir, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafBir, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafIki, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafIki, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafUc, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafUc, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafDort, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafDort, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafBes, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafBes, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafAlti, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafAlti, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafYedi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafYedi, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafSekiz, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafSekiz, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.HiddenFor(model => model.Picture)
                    @Html.LabelFor(model => model.Owner.ProfileImageFileName, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="custom-file form-control col-md-10">
                        <input type="file" class="custom-file-input" id="blogImage" name="blogImage" />
                        <label class="custom-file-label" for="customFile">Dosya Seçiniz.</label>
                    </div>
                    <div class="pl-3 pt-3">
                        <i class="fa fa-info-circle mr-2"></i>
                        <small><i>Lütfen jpg,jpeg yada png formatı kullanın.</i></small>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("KategoriId", null, htmlAttributes: new { @class = "form-control col-md-10" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.IsDraft, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsDraft)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.DanisanPaylasimi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.DanisanPaylasimi)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.TabakPaylasimi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.TabakPaylasimi)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 pr-0 text-right">
                        @Bootstrap.LinkButton("/BlogYazısı/Index", "secondary", string.Empty,
                  string.Empty, "arrow-left", "Geri Dön !")
                        @Bootstrap.Button("success", string.Empty, "submit", "save", "Create")
                    </div>
                </div>

            }

        </div>
    </div>
    <div class="col-md-6 text-center">
        <h3>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            <br />  <b>açıklama konulacak</b>
        </h3>
    </div>
</div>