@model DiyetisyenGultenManav.Entities.BlogYazısı

@{
    ViewBag.Title = "BLOG YAZISI DETAYI";
}
    <link href="~/Content/blogstyle.css" rel="stylesheet" />
    <style>
        .resim {
            object-fit: fill;
            border: 1px solid black;
            margin-right: 20px;
            width: 256px;
            height: 256px;
        }
        .sayfaArkaPlan {
            /*background: #DE6262;*/ /* fallback for old browsers */
            /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
            /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            /*        background-color: rgba(222, 98, 98, 0.5);*/
            background: rgba(222, 98, 98, 0.7);
            background: -webkit-linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
            background: linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
            min-height: 1000px;
            height: 100%;
            min-width: 100%;
        }
</style>
    <div class="sayfaArkaPlan pl-5 pt-3 mr-0">
        @if (Request.Browser.IsMobileDevice)
        {
            <div class="row pl-5 pt-3 mr-0">
                <div class="col-md-12">
                    <p class="text-center font-weight-bold">
                        @ViewBag.Title
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="row pl-5 pt-3 mr-0">
                <div class="col-md-12">
                    <p class="display-4 text-center font-weight-bold">
                        @ViewBag.Title
                    </p>
                </div>
            </div>
        }
        <div class="row pl-3 mr-0">
            <div class="col-md-10">
                <div>
                    <dl class="row">
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Kategori.Title)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Kategori.Title)
                        </dd>

                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafBir)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafBir)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafIki)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafIki)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafUc)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafUc)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafDort)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafDort)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafBes)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafBes)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafAlti)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafAlti)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafYedi)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafYedi)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ParagrafSekiz)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ParagrafSekiz)
                        </dd>

                        <dt class="col-md-3">
                            Kategori @Html.DisplayNameFor(model => model.Kategori.Title)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Kategori.Title)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.CreatedOn)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ModifiedOn)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ModifiedOn)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.ModifiedUsername)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.ModifiedUsername)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.GörüntülenmeSayisi)
                        </dt>

                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.GörüntülenmeSayisi)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.IsDraft)
                        </dt>

                        <dd class="col-md-9">
                            @if (Model.IsDraft)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                            @*  @Html.DisplayFor(model => model.IsDraft)*@
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.DanisanPaylasimi)
                        </dt>

                        <dd class="col-md-9">
                            @if (Model.DanisanPaylasimi)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                            @*  @Html.DisplayFor(model => model.DanisanPaylasimi)*@
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.TabakPaylasimi)
                        </dt>

                        <dd class="col-md-9">
                            @if (Model.TabakPaylasimi)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                            @*  @Html.DisplayFor(model => model.DanisanPaylasimi)*@
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Picture)
                        </dt>

                        <dd class="col-md-9">
                            <img src="~/ImageBlog/@Model.Picture" class="resim img-thumbnail" width="256" height="256" />
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-10 pl-3">
                <p>
                    @Bootstrap.LinkButton("/BlogYazısı/Index", "secondary", string.Empty,
                   string.Empty, "arrow-left", "Geri Dön!")
                    @Bootstrap.LinkButton("/BlogYazısı/Edit/" + Model.Id, "warning", string.Empty,
                   string.Empty, "edit", "Düzenle")

                </p>
            </div>
        </div>
    </div>