@model DiyetisyenGultenManav.Entities.BlogYazısı

@{
    ViewBag.Title = "BLOG YAZISI DÜZENLE";
}
<style>
    .sayfaArkaPlan {
        /*background: #DE6262;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*        background-color: rgba(222, 98, 98, 0.5);*/
        background: rgba(222, 98, 98, 0.7);
        background: -webkit-linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
        background: linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
        min-height: 1000px;
        height: 100%;
        min-width: 100%;
    }
</style>
<link href="~/Content/validation-summary.css" rel="stylesheet" />
<div class="sayfaArkaPlan pl-5 pt-3 mr-0 ">
    @if (Request.Browser.IsMobileDevice)
    {
        <div class="row pl-5 pt-3 mr-0">
            <div class="col-md-12">
                <p class="text-center font-weight-bold">
                    @ViewBag.Title
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="row pl-5 pt-3 mr-0">
            <div class="col-md-12">
                <p class="display-4 text-center font-weight-bold">
                    @ViewBag.Title
                </p>
            </div>
        </div>
    }
    <div class="row pl-5 mr-0">
        <div class="col-md-10">
            @using (Html.BeginForm("Edit", "BlogYazısı", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class=" form-group row">
                    <div class="col-md-12 pr-0">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(model => model.Id)

                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafBir, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafBir, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafIki, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafIki, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafUc, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafUc, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafDort, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafDort, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafBes, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafBes, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafAlti, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafAlti, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafYedi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafYedi, 5, 30, new { @class = "form-control col-md-10" })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ParagrafSekiz, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.ParagrafSekiz, 5, 30, new { @class = "form-control col-md-10" })
                </div>
                <div class="form-group row">
                    @Html.HiddenFor(model => model.Picture)
                    @Html.LabelFor(model => model.Owner.ProfileImageFileName, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="custom-file form-control col-md-10">
                        <input type="file" class="custom-file-input" id="blogImage" name="blogImage" />
                        <label class="custom-file-label" for="customFile">Dosya Seçiniz.</label>
                    </div>
                    <div class="pl-3 pt-3">
                        <i class="fa fa-info-circle mr-2"></i>
                        <small><i>Lütfen jpg,jpeg yada png formatı kullanın.</i></small>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.DropDownList("KategoriId", null, htmlAttributes: new { @class = "form-control col-md-10" })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.IsDraft, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsDraft)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.DanisanPaylasimi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.DanisanPaylasimi)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.TabakPaylasimi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.TabakPaylasimi)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 text-right">
                        @Bootstrap.LinkButton("/BlogYazısı/Index", "secondary", string.Empty,
                  string.Empty, "arrow-left", " Geri Dön")
                        @Bootstrap.Button("success", string.Empty, "submit", "plus-circle", " Oluştur")
                    </div>
                    <div class="col-12 text-right mt-2">
                        <button class="btn btn-outline-light " type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Sayfa Açıklaması</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12 text-right">
        @*<p>
                <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Sayfa Açıklaması</button>
            </p>*@
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body text-left sayfaArkaPlan pl-4" style="min-height:100%;">
                        <ul>
                            <b>Blog Yazılarını Düzenleme Sayfasında : </b>
                            <li>Başlık</li>
                            <li>Birinci Paragraf</li>
                            <li>İkinci Paragraf</li>
                            <li>Üçüncü Paragraf</li>
                            <li>Dördüncü Paragraf</li>
                            <li>Beşinci İnce Yazı</li>
                            <li>Altıncı Paragraf</li>
                            <li>Yedinci Paragraf</li>
                            <li>Sekizinci Paragraf</li>
                            <li>Profil Fotoğrafı</li>
                            <li>Blog Yazısı Kategorisi</li>
                            <li>Taslak</li>
                            <li>Danışan Paylaşımı</li>
                            <li>Tabak Paylaşımı</li>
                            düzenleyebiliriz.
                        </ul>
                        <h3>Sayfa Düzenini Aşağıdan İnceleyip Ona Göre Blog Yazısı Paylaşınız.</h3>
                        <hr />
                        <h1 class="mt-4">Başlık</h1> <br />

                        <p class="lead">
                            <i class="fa fa-user mr-2"></i>Blog Yazısını Paylaşanan Kişinin İsmi&emsp;
                            <i class="fa fa-clock-o mr-2"></i>dd.MM.yy HH:mm
                        </p>
                        <hr>
                        <p>RESİM</p>
                        <hr>
                        <p class="lead">Birinci Paragraf</p>

                        <p>İkinci Paragraf</p>

                        <p>Üçüncü Paragraf</p>

                        <blockquote class="blockquote">
                            <p class="mb-0">Dördüncü Paragraf</p>

                            <footer class="blockquote-footer">
                                Beşinci İnce Yazı
                            </footer>
                        </blockquote>
                        <p>Altıncı Paragraf</p>

                        <p>Yedinci Paragraf</p>

                        <p>Sekizinci Paragraf</p>
                        <hr />
                        <p>
                            Düzenlendiğiniz Blog Yazısını Kaydetmek İçin  Kaydet Butonuna Tıklayınız.<br />
                            Blog Yazıları Sayfasına Dönmek İçin Geri Dön Butonuna Tıklayınız.<br />
                        </p>
                        <hr />
                        <p>
                            Beklenmedik Bir Durum Halinde  İletişime geçiniz : Gazihand@gmail.com
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="col-md-6">
        <ul>
            <b>Blog Yazılarını Düzenleme Sayfasında : </b>
            <li>Başlık</li>
            <li>Birinci Paragraf</li>
            <li>İkinci Paragraf</li>
            <li>Üçüncü Paragraf</li>
            <li>Dördüncü Paragraf</li>
            <li>Beşinci İnce Yazı</li>
            <li>Altıncı Paragraf</li>
            <li>Yedinci Paragraf</li>
            <li>Sekizinci Paragraf</li>
            <li>Profil Fotoğrafı</li>
            <li>Blog Yazısı Kategorisi</li>
            <li>Taslak</li>
            <li>Danışan Paylaşımı</li>
            <li>Tabak Paylaşımı</li>
            düzenleyebiliriz.
        </ul>
        <h3>Sayfa Düzenini Aşağıdan İnceleyip Ona Göre Blog Yazısı Paylaşınız.</h3>
        <hr />
        <h1 class="mt-4">Başlık</h1> <br />

        <p class="lead">
            <i class="fa fa-user mr-2"></i>Blog Yazısını Paylaşanan Kişinin İsmi&emsp;
            <i class="fa fa-clock-o mr-2"></i>dd.MM.yy HH:mm
        </p>
        <hr>
        <p>RESİM</p>
        <hr>
        <p class="lead">Birinci Paragraf</p>

        <p>İkinci Paragraf</p>

        <p>Üçüncü Paragraf</p>

        <blockquote class="blockquote">
            <p class="mb-0">Dördüncü Paragraf</p>

            <footer class="blockquote-footer">
                Beşinci İnce Yazı
            </footer>
        </blockquote>
        <p>Altıncı Paragraf</p>

        <p>Yedinci Paragraf</p>

        <p>Sekizinci Paragraf</p>
        <hr />
        <p>
            Düzenlendiğiniz Blog Yazısını Kaydetmek İçin  Kaydet Butonuna Tıklayınız.<br />
            Blog Yazıları Sayfasına Dönmek İçin Geri Dön Butonuna Tıklayınız.<br />
        </p>
        <hr />
        <p>
            Beklenmedik Bir Durum Halinde  İletişime geçiniz : Gazihand@gmail.com
        </p>
    </div>*@


