@model IEnumerable<DiyetisyenGultenManav.Entities.BlogYazısı>

@{
    ViewBag.Title = "BLOG YAZILARIM";
}
<style>
    .sayfaArkaPlan {
        /*background: #DE6262;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*        background-color: rgba(222, 98, 98, 0.5);*/
        background: rgba(222, 98, 98, 0.7);
        background: -webkit-linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
        background: linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
        min-height: 1000px;
        height: 100%;
        min-width: 100%;
    }
</style>
<div class="sayfaArkaPlan mr-0 ">
    <div class=" row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>
    <div class="row pl-3 mr-0  ">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 pr-0 text-left">
                    @Bootstrap.LinkButton("/BlogYazısı/Create", "primary", "btn-sm", string.Empty, "plus", "Yeni Blog Yazısı Ekle")
                </div>
                <div class="col-md-6  text-right">
                    @using (Html.BeginForm())
                    {
                        <input class="text-box btn btn-outline-light text-left" id="ara" name="ara" type="text" placeholder="Ara" />
                    }
                </div>
            </div>
            <br />
            <table class="table table-hover table-striped table-sm small">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Kategori)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParagrafBir)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDraft)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DanisanPaylasimi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TabakPaylasimi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kategori.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParagrafBir)
                        </td>
                        <td class="text-center">
                            @if (item.IsDraft)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.DanisanPaylasimi)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.TabakPaylasimi)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Picture)
                        </td>
                        <td width="150" class="text-right">
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_comment" data-blog-id="@item.Id">
                                <span class="fa fa-comment"></span>
                            </button>
                            @Bootstrap.LinkButton("/BlogYazısı/Edit/" + item.Id, "warning", "btn-sm", "Edit", "edit", string.Empty)
                            @Bootstrap.LinkButton("/BlogYazısı/Details/" + item.Id, "info", "btn-sm", "Details", "search", string.Empty)
                            @Bootstrap.LinkButton("/BlogYazısı/Delete/" + item.Id, "danger", "btn-sm", "Delete", "trash", string.Empty)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    @*<div class="col-md-6">
            <h3>
                <b>Arama : </b>  Blog Yazısının Başlığına Göre yapılır.
            </h3>
            <ul>
                <b>Blog Yazıları Sayfasında : </b>
                <li>Kategori</li>
                <li>Başlık</li>
                <li>Birinci Parafraf</li>
                <li>Taslak Olup Olmadığı</li>
                <li>Danışan Paylaşımı Olup Olmadığı</li>
                <li>Yemek Tabağı Paylaşımı Olup Olmadığı</li>
                <li>Resiminin Kaydedildiği İsimi</li>
                görelibiriz.
            </ul>
            <p>
                Blog Yazısı Oluşturmak İçin Yeni Blog Yazısı Ekle Butonuna Basınız. <br />
                Blog Yazılarının Yorumlarını Görebilmek İçin Yeşil Renkli Yorum İkonuna Basınız.<br />
                &emsp; - Yorumları silebilir Düzenleyebilir ve Yeni Yorum Yapabilirsiniz.<br />
                Blog Yazılarını Düzenlemek İçin Sarı Renkli Düzenleme İkonuna Basınız. <br />
                Blog Yazısının Detayına Bakmak İçin Mavi Renkli Detay İkonuna Basınız. <br />
                Blog Yazısını Silmek için Kırmızı Renkli Çöp Kutusu İkonuna Basınız. <br />

            </p>
            <hr />
            <p>
                Beklenmedik Bir Durum Halinde  İletişime geçiniz : Gazihand@gmail.com
            </p>
        </div>*@
    <div class="col-md-12 text-right">
        <p>
            <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Sayfa Açıklaması</button>
        </p>
        <div class="row" >
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body text-left sayfaArkaPlan pl-4" style="min-height:100%;">
                        <h3>
                            <b>Arama : </b>  Blog Yazısının Başlığına Göre yapılır.
                        </h3>
                        <ul>
                            <b>Blog Yazıları Sayfasında </b>
                            <li>Kategori</li>
                            <li>Başlık</li>
                            <li>Birinci Parafraf</li>
                            <li>Taslak Olup Olmadığı</li>
                            <li>Danışan Paylaşımı Olup Olmadığı</li>
                            <li>Yemek Tabağı Paylaşımı Olup Olmadığı</li>
                            <li>Resiminin Kaydedildiği İsimi</li>
                            görelibiriz.
                        </ul>
                        <p>
                            Blog Yazısı Oluşturmak İçin Yeni Blog Yazısı Ekle Butonuna Basınız. <br />
                            Blog Yazılarının Yorumlarını Görebilmek İçin Yeşil Renkli Yorum İkonuna Basınız.<br />
                            &emsp; - Yorumları silebilir Düzenleyebilir ve Yeni Yorum Yapabilirsiniz.<br />
                            Blog Yazılarını Düzenlemek İçin Sarı Renkli Düzenleme İkonuna Basınız. <br />
                            Blog Yazısının Detayına Bakmak İçin Mavi Renkli Detay İkonuna Basınız. <br />
                            Blog Yazısını Silmek için Kırmızı Renkli Çöp Kutusu İkonuna Basınız. <br />

                        </p>
                        <hr />
                        <p>
                            Beklenmedik Bir Durum Halinde  İletişime geçiniz : Gazihand@gmail.com
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
<script src="~/Scripts/yorum.js"></script>
