@model IEnumerable<DiyetisyenGultenManav.Entities.BlogYazısı>

@{
    ViewBag.Title = "BLOG YAZILARIM";
}
<link href="~/Content/new-login-style.css" rel="stylesheet" />

<div class="login-block mr-0 ">
    <div class=" row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>
    <div class="row pl-3 mr-0  ">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 pr-0 text-left">
                    @Bootstrap.LinkButton("/BlogYazısı/Create", "primary", "btn-sm", string.Empty, "plus", "Yeni Blog Yazısı Ekle")
                </div>
                <div class="col-md-6  text-right">
                    @using (Html.BeginForm())
                    {
                        <input class="text-box btn btn-outline-light text-left" id="ara" name="ara" type="text" placeholder="Ara" />
                    }
                </div>
            </div>
            <br />
            <table class="table table-hover table-striped table-sm small">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Kategori)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParagrafBir)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDraft)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DanisanPaylasimi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TabakPaylasimi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kategori.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParagrafBir)
                        </td>
                        <td class="text-center">
                            @if (item.IsDraft)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.DanisanPaylasimi)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.TabakPaylasimi)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Picture)
                        </td>
                        <td width="150" class="text-right">
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_comment" data-blog-id="@item.Id">
                                <span class="fa fa-comment"></span>
                            </button>
                            @Bootstrap.LinkButton("/BlogYazısı/Edit/" + item.Id, "warning", "btn-sm", "Edit", "edit", string.Empty)
                            @Bootstrap.LinkButton("/BlogYazısı/Details/" + item.Id, "info", "btn-sm", "Details", "search", string.Empty)
                            @Bootstrap.LinkButton("/BlogYazısı/Delete/" + item.Id, "danger", "btn-sm", "Delete", "trash", string.Empty)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h3>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            <br />  <b>açıklama konulacak</b>
        </h3>
    </div>
</div>
@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
<script src="~/Scripts/yorum.js"></script>