@using DiyetisyenGultenManav.WebApp.Models
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/Home/Index" class="navbar-brand">Diyetisyen<span>.</span> Gülten Manav</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @if (CurrentSession.User != null)
            {
                <li class="nav-item dropdown">
                    <a href="/BlogYazısı/Index" class="dropdown-toggle nav-link" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench mr-2"></i>Yönetim
                    </a>
                    <div class="dropdown-menu">
                        @Bootstrap.DropdownDivider()
                        @Bootstrap.DropdownLinkMenu("/BlogYazısı/Create", "plus", " Blog Yazısı Ekle")
                        @Bootstrap.DropdownLinkMenu("/BlogYazısı/Index", "th-list", " Blog Yazılarım")
                        @Bootstrap.DropdownDivider()
                        @Bootstrap.DropdownLinkMenu("/Kategori/Create", "plus", " Kategori Ekle")
                        @Bootstrap.DropdownLinkMenu("/Kategori/Index", "th-list", " Kategoriler")
                        @Bootstrap.DropdownDivider()
                        @Bootstrap.DropdownLinkMenu("/OdemeBildirimi/Index", "th-list", " Ödeme Bildirimi Sayfası")
                        @Bootstrap.DropdownLinkMenu("/OdemeBildirimi/IndexOdemeBildirimiOwner", "th-list", " Ödeme Bildirimim")
                        @Bootstrap.DropdownLinkMenu("/OdemeBildirimi/CreateOdemeBildirimiOwner", "plus", " Ödeme Bildirimi Yap")
                        @Bootstrap.DropdownDivider()
                        @Bootstrap.DropdownLinkMenu("/Diet/Create", "plus", " Diyet Ekle")
                        @Bootstrap.DropdownLinkMenu("/Diet/AllDiet", "th-list", " Tüm Diyetler")
                        @Bootstrap.DropdownLinkMenu("/Diet/NewDiet", "th-list", " Yeni Diyetler")
                        @Bootstrap.DropdownLinkMenu("/Diet/Index", "th-list", " Diyetim")
                        @Bootstrap.DropdownDivider()
                        @Bootstrap.DropdownLinkMenu("/Kullanıcı/Create", "plus", " Kullanıcı Ekle")
                        @Bootstrap.DropdownLinkMenu("/Kullanıcı/Index", "th-list", " Kullanıcılar")
                        @Bootstrap.DropdownDivider()
                        @if (CurrentSession.User.IsAdmin)
                        {

                        }
                    </div>
                </li>
            }
            <li class="nav-item">
                @Bootstrap.LinkMenu("/Home/Index", "apple-alt", " Blog")
            </li>
            <li class="nav-item">
                @Bootstrap.LinkMenu("/Home/Danisanlarim", "star", " Danışanlarım")
            </li>
            <li class="nav-item">
                @Bootstrap.LinkMenu("/home/Index", "th-list", " Hakkımızda")
            </li>
            <li class="nav-item">
                @Bootstrap.LinkMenu("/home/About", "info-sign", " Hakkımızda")
            </li>
        </ul>
        <ul class="navbar-nav">
            @if (CurrentSession.User == null)
            {
                <li class="nav-item">
                    @Bootstrap.LinkMenu("/Home/Login", "sign-in", " Giriş")
                </li>
                <li class="nav-item">
                    @Bootstrap.LinkMenu("/Home/Register", "user", " Üye Ol")
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a href="/home/ShowProfile" class="dropdown-toggle nav-link" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user mr-2"></i>@CurrentSession.User.Username
                    </a>
                    <div class="dropdown-menu">
                        @Bootstrap.DropdownLinkMenu("/Home/ShowProfile", "user", " Profili Göster")
                        @Bootstrap.DropdownDivider()
                        @Bootstrap.DropdownLinkMenu("/Home/EditProfile", "edit", " Profili Düzenle")
                        <a href="/Home/DeleteProfile" class="dropdown-item"
                           onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz ?')">
                            <i class="fa fa-trash mr-2"></i>Profili Sil
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    @Bootstrap.LinkMenu("/Home/Logout", "sign-out", " Çıkış")
                </li>
            }
        </ul>
    </div>
</nav>