    <!-- FOOTER -->
<link href="~/Content/templatemo-style.css" rel="stylesheet" />
<footer id="footer" data-stellar-background-ratio="0.5">
    <div class="row ml-4">

        @*          <div class="col-md-2 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                     <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="color:black;">Diyetisyen Gülten Manav</h2>
                 </div>
                <p>
                     <i class="fa fa-paw"></i>&emsp;<a href="/Home/Blog"><b style="color:black;">Blog</b></a> <br />
                     <i class="fa fa-signal"></i>&emsp;<a href="/Home/Danisanlarim"><b style="color:black;">Başarılar</b></a> <br />
                     <i class="fa fa-cutlery"></i>&emsp;<a href="/Home/Tabaklar"><b style="color:black;">Sizden Gelenler</b></a><br />
                     <i class="fa fa-user-md"></i>&emsp;<a href="/Home/About"><b style="color:black;">Hakkımda</b></a><br />
                     <i class="fa fa-envira"></i>&emsp;<a href="/Contact/Create"><b style="color:black;">Bana Ulaşın</b></a><br />
                     <i class="fa fa-calculator"></i>&emsp;<a href="/Hesaplamalar/HesaplaBMI"><b style="color:black;">Vücut Kitle İndeksi Hesaplama</b></a><br />
                     <i class="fa fa-calculator"></i>&emsp;<a href="/Hesaplamalar/HesaplaBMH"><b style="color:black;">Bazal Metabolizma Hızı Hesaplama</b></a><br />
                     <i class="fa fa-calculator"></i>&emsp;<a href="/Hesaplamalar/HesaplaIdealKilo"><b style="color:black;">Kişiye Göre İdeal Kilo Hesaplama</b></a><br />
                     <i class="fa fa-calculator"></i>&emsp;<a href="/Hesaplamalar/HesaplaSu"><b style="color:black;">Günlük İçmemiz Gerek Su Miktarı Hesaplama</b></a><br />
                     <i class="fa fa-calculator"></i>&emsp;<a href="/Hesaplamalar/HesaplaKosuKalori"><b style="color:black;">Kardiyo Yaparken Yaktığımız Kaloriyi Hesaplama</b></a><br />
                 </p>
            </div>
                </div>*@

        <div class="col-md-12 col-sm-12">
            <div class="footer-info footer-open-hour">
                <div class="row">
                    <div class="col-md-5">
                        <div class="footer-info">

                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="font-size:36px;color:wheat;">Klinik Danışmanlığı</h2>
                            </div>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>
                                <b style="font-size: 18px;color: wheat;">
                                    Guzelyalı Mah. 81126 Sokak. <br />
                                    Çukurova Tv Karşısı. Kirkzade üstü. <br />
                                    A2 Blok Kat:2 Daire:8 (Turgut Özal Bulvarı)
                                    01170 Adana
                                </b>
                            </p>
                        </address>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p style="color: wheat;font-size: 21px;">
                                <i class="fa fa-phone-square"></i> &emsp;<b style="font-size: 18px;color: wheat;">0538 372 87 97</b>
                            </p>
                        </address>
                        <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
                            <li><a href="https://www.instagram.com/dytgultenmanav/" target="_blank" class="fa fa-instagram"></a></li>
                            <li><a href="https://web.whatsapp.com/send?phone=905383728797&text=Merhaba Size İnternet Sitenizden Ulaşıyorum!" target="_blank" class="fa fa-whatsapp"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="font-size:36px;color:wheat;"></h2>
                            </div>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                @Bootstrap.LinkMenu("/Home/Blog", "paw", " Blog", "pink", "14px")
                                @Bootstrap.LinkMenu("/Home/Danisanlarim", "signal", " Başarılar", "#f1c40f", "14px")
                                @Bootstrap.LinkMenu("/Home/Tabaklar", "cutlery", " Sizden Gelenler", "#ec7063 ", "14px")
                                @Bootstrap.LinkMenu("/Home/About", "user-md", " Hakkımda", "#9b59b6", "16px")
                                @Bootstrap.LinkMenu("/Contact/Create", "envira", " Bana Ulaşın", "#1abc9c", "14px")
                                @Bootstrap.LinkMenu("/Hesaplamalar/HesaplaBMI", "calculator", " Hesaplamalar", "#d35400", "14px")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="font-size: 36px;color: navajowhite;">Açık Saatler</h2>
                            </div>
                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <div>
                                    <strong style="font-size: 18px;color: navajowhite;">PAZAR</strong>
                                    <p>Kapalı</p>
                                </div>
                                <div>
                                    <strong style="font-size: 18px;color: navajowhite;">CUMARTESİ</strong>
                                    <p>08:00 - 12:00</p>
                                </div>
                                <div>
                                    <strong style="font-size: 18px;color: navajowhite;">PAZARTESİ - CUMA</strong>
                                    <p>08:00 - 17:00</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        @*<div class="col-md-5 col-sm-8">
                <div class="footer-info footer-open-hour">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Açık Saatler</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <div>
                            <strong>PAZAR</strong>
                            <p>Kapalı</p>
                        </div>
                        <div>
                            <strong>CUMARTESİ</strong>
                            <p>08:00 - 12:00</p>
                        </div>
                        <div>
                            <strong>PAZARTESİ - CUMA</strong>
                            <p>08:00 - 17:00</p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="pull-right">
        <p><br>Copyright &copy; 2020  Gazihan DEMİR</p>
    </div>
    <!--Copyright-->
    @*<div class="col-md-12 col-sm-4">
            <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">


                  <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                   <li><a href="#" class="fa fa-map-marker"></a></li>
                   <li><a href="#" class="fa fa-instagram"></a></li>
                   <li><a href="#" class="fa fa-google"></a></li>

            </ul>

            <div class="wow fadeInUp copyright-text pull-right" data-wow-delay="0.8s">
                <p>
                    <br>Copyright &copy; 2020  Diyetisyen Gülten Manav
                </p>
            </div>
        </div>*@
    @*http://www.templatemo.com/tm-515-eatery*@

</footer>