@using DiyetisyenGultenManav.Entities.Messages
@using DiyetisyenGultenManav.WebApp.ViewModels
@model  ErrorViewModel
@{
    ViewBag.Title = Model.Title;
}
<link href="~/Content/errorpagestyle.css" rel="stylesheet" />
@*<div class="text-center ">
        <p><h1>@Model.Header</h1></p>
        <p>
            <h2>
                @Model.Title<br />
            </h2>
            @foreach (ErrorMessageObj err in Model.Items)
            {
                @err.Message <br>
            }
        </p>
    </div>*@
<div id="notfound" class="text-center pt-4" style="background-color:white;">
    <div class="notfound">
        <div>
            <div class="notfound-404">
                <h1>!</h1>
            </div>
            <h2>Hata<br></h2>
            <h3>@Model.Header</h3>
        </div>
        <p>
            <h3>
                @Model.Title<br />
            </h3>
            @foreach (ErrorMessageObj err in Model.Items)
            {
                @err.Message <br>
            }
        </p>
        @Bootstrap.LinkButton("/Home/Index", "outline-danger", string.Empty,
                  string.Empty, "arrow-left", "Ana SayfayaGeri Dön !")
    </div>
</div>

@{
    string js = string.Empty;

    if (Model.IsRedirecting)
    {
        js = "setTimeout(function () { window.location = '" + Model.RedirectingUrl + "'; }, " +
            Model.RedirectingTimeout + ");";
    }
}

<script>
    $(function () {
        @Html.Raw(js);
    });
</script>


