@model IEnumerable<DiyetisyenGultenManav.Entities.Kategori>
@using DiyetisyenGultenManav.WebApp

@{
    ViewBag.Title = "KATEGORİLER";
}
<link href="~/Content/new-login-style-kategori.css" rel="stylesheet" />
<style>
    .vertical-strech {
        height: 100vh;
    }
</style>
<div class="login-block  mr-0 vertical-strech">
    <div class="row pl-4 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>

    <div class="row pl-4 mr-0">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 pr-0 text-left">
                    @Bootstrap.LinkButton("/Kategori/Create", "primary", "btn-sm", string.Empty, "plus", "Yeni Diyet Ekle")
                </div>
                <div class="col-md-6  text-right">
                    @using (Html.BeginForm())
                    {
                        <input class="text-box btn btn-outline-light text-left" id="ara" name="ara" type="text" placeholder="Ara">
                    }
                </div>
            </div>
            <br />
            <table class="table table-hover table-striped table-sm small">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </th>*@
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUsername)
                    </td>*@
                        <td width="150" class="text-right">
                            @Bootstrap.LinkButton("/Kategori/Edit/" + item.Id, "warning", "btn-sm", "Edit", "edit", string.Empty)
                            @Bootstrap.LinkButton("/Kategori/Details/" + item.Id, "info", "btn-sm", "Details", "search", string.Empty)
                            @Bootstrap.LinkButton("/Kategori/Delete/" + item.Id, "danger", "btn-sm", "Delete", "trash", string.Empty)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>