@model DiyetisyenGultenManav.Entities.OdemeBildirimi

@{
    ViewBag.Title = "ÖDEME BİLDİRİMİ OLUŞTUR";
}
<link href="~/Content/new-login-style-odeme.css" rel="stylesheet" />
<style>
    .vertical-strech {
        height: 100vh;
    }
</style>
<div class="login-block pl-5 pt-3 mr-0 vertical-strech">
    <div class="row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>

    <div class="row pl-5 mr-0">
        <div class="col-md-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class=" form-group row">
                    <div class="col-md-12 pr-0">
                        @Html.ValidationSummary(false)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.IsimSoyisim, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.IsimSoyisim, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.BankaIsmi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.BankaIsmi, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.YatirilanMiktar, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.YatirilanMiktar, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.TelefonNo, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.TelefonNo, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.EkAciklamalar, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.EkAciklamalar, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    <div class="col-md-12 pr-0 text-right">
                        @Bootstrap.LinkButton("/OdemeBildirimi/Index", "secondary", string.Empty,
                  string.Empty, "arrow-left", "Geri Dön !")
                        @Bootstrap.Button("success", string.Empty, "submit", "save", "Create")
                    </div>
                </div>
                <div class="form-group row text-center">
                    <p>
                        Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                    </p>
                </div>

            }
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h3>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            <br />  <b>açıklama konulacak</b>
        </h3>
    </div>
</div>