@model DiyetisyenGultenManav.Entities.OdemeBildirimi

@{
    ViewBag.Title = "ÖDEME BİLDİRİMİ DETAYI";
}
<link href="~/Content/new-login-style-odeme.css" rel="stylesheet" />
<style>
    .vertical-strech {
        height: 100vh;
    }
</style>
<div class="login-block pl-5 pt-3 mr-0 vertical-strech">
    <div class="row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>

    <div class="row pl-3 mr-0">
        <div class="col-md-10">
            <div>
                <dl class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Owner.Username)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Owner.Username)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IsimSoyisim)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.IsimSoyisim)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.BankaIsmi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.BankaIsmi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.YatirilanMiktar)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.YatirilanMiktar)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.TelefonNo)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.TelefonNo)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.EkAciklamalar)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.EkAciklamalar)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IsNotification)
                    </dt>

                    <dd class="col-md-9">
                        @if (Model.IsNotification)
                        {
                            <i class="fa fa-check text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                        @*  @Html.DisplayFor(model => model.IsNotification)*@
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IsPay)
                    </dt>

                    <dd class="col-md-9">
                        @if (Model.IsPay)
                        {
                            <i class="fa fa-check text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                        @*  @Html.DisplayFor(model => model.IsPay)*@
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IsOkey)
                    </dt>

                    <dd class="col-md-9">
                        @if (Model.IsOkey)
                        {
                            <i class="fa fa-check text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                        @*  @Html.DisplayFor(model => model.IsOkey)*@
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.ModifiedUsername)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.ModifiedUsername)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-10 pl-3">
            <p>
                @Bootstrap.LinkButton("/OdemeBildirimi/Index", "secondary", string.Empty,
               string.Empty, "arrow-left", "Geri Dön!")
                @Bootstrap.LinkButton("/OdemeBildirimi/Edit/" + Model.Id, "warning", string.Empty,
               string.Empty, "edit", "Düzenle")
            </p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h3>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            <br />  <b>açıklama konulacak</b>
        </h3>
    </div>
</div>