@model IEnumerable<DiyetisyenGultenManav.Entities.OdemeBildirimi>

@{
    ViewBag.Title = "ÖDEME BİLDİRİMLERİM";
}
<style>
    .sayfaArkaPlan {
        /*background: #DE6262;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*        background-color: rgba(222, 98, 98, 0.5);*/
        background: rgba(222, 98, 98, 0.7);
        background: -webkit-linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
        background: linear-gradient(to right, rgba(255,184,140,0.8), rgba(222, 98, 98, 0.7));
        min-height: 1000px;
        height: 100%;
        min-width: 100%;
    }
</style>
<div class="sayfaArkaPlan mr-0 ">
    <div class=" row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>

    <div class="row pl-3 mr-0  vertical-strech">
        <div class="col-md-12">
            <p>
                @Bootstrap.LinkButton("/ODemeBildirimi/CreateOdemeBildirimiOwner", "primary", "btn-sm", string.Empty, "plus", "Yeni Ödeme Bildirimi Oluştur")
            </p>
            <table class="table table-hover table-striped table-sm small">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsimSoyisim)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BankaIsmi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.YatirilanMiktar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TelefonNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EkAciklamalar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsNotification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsOkey)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsimSoyisim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankaIsmi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YatirilanMiktar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefonNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EkAciklamalar)
                        </td>
                        <td class="center-block">
                            @if (item.IsNotification)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td class="center-block">
                            @if (item.IsOkey)
                            {
                                <i class="fa fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-times text-danger"></i>
                            }
                        </td>
                        <td>
                            @Bootstrap.LinkButton("/OdemeBildirimi/Edit/" + item.Id, "warning", "btn-sm", "Edit", "edit", string.Empty)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <p>
            <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Sayfa Açıklaması</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body text-left sayfaArkaPlan pl-4" style="min-height:100%;">
                        <ul>
                            <b>Ödeme Bildirimleri Sayfasında (Kullanıcı)</b>
                            <li>İsim Soyisim</li>
                            <li>Banka İsmi</li>
                            <li>Yatırılan Miktar</li>
                            <li>Cep Telefonu</li>
                            <li>Ek Açıklamalar</li>
                            <li>Ödemenin Başarı ile Ulaşabildiğini (Bildirildi)</li>
                            <li>Diyetisyen Tarafından Onaylandığını (Onaylandı)</li>
                            görelibiriz.
                        </ul>
                        <p>
                            <ol>
                                <li>
                                    Kullanıcı Ödeme Bildirimi Yapar.
                                    <ul>
                                        <li>İsim Soyisim Yazar.</li>
                                        <li>Gönderdiği Banka İsmini Yazar.</li>
                                        <li>Yatırdığı Miktarı Yazar.</li>
                                        <li>Şahsi Cep Telefon Numarasını Yazar.</li>
                                        <li>Açıklama Yazar.</li>
                                        &emsp; ve Ödeme Bildirimi Oluşturur.
                                    </ul>
                                </li>
                                <li>
                                    Ödeme Bildirimi Oluşturulduğu Zaman Bildirildi  <i class="fa fa-check text-success"></i> olur.
                                </li>
                                <li>
                                    Diyetisyen işlemi Onaylıyor ise Onaylandı kısmını <i class="fa fa-check text-success"></i> yapar.
                                </li>
                            </ol>
                        </p>
                        <p>
                            Ödeme Bildirimi Oluşturmak İçin Yeni Ödeme Bildirimi  Ekle Butonuna Basınız. <br />
                            Ödeme Bildirimi Düzenlemek İçin Sarı Renkli Düzenleme İkonuna Basınız. <br />
                        </p>
                        <hr />
                        <p>
                            Beklenmedik Bir Durum Halinde  İletişime geçiniz : Gazihand@gmail.com
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>