@model DiyetisyenGultenManav.Entities.Paket

@{
    ViewBag.Title = "Paket Oluştur";
}
<style>
    .sayfaArkaPlan {
        /*background: #DE6262;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*        background-color: rgba(222, 98, 98, 0.5);*/
        background: rgba(215, 189, 226, 0.7);
        background: -webkit-linear-gradient(to right, rgba(174, 214, 241,0.8), rgba(52, 152, 219, 0.7));
        background: linear-gradient(to right, rgba(174, 214, 241,0.8), rgba(52, 152, 219, 0.7));
        min-height: 1000px;
        height: 100%;
        min-width: 100%;
    }
</style>
<link href="~/Content/validation-summary.css" rel="stylesheet" />
<div class="sayfaArkaPlan pl-5 pt-3 mr-0 ">
    @if (Request.Browser.IsMobileDevice)
    {
        <div class="row pl-5 pt-3 mr-0">
            <div class="col-md-12">
                <p class="text-center font-weight-bold">
                    @ViewBag.Title
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="row pl-5 pt-3 mr-0">
            <div class="col-md-12">
                <p class="display-4 text-center font-weight-bold">
                    @ViewBag.Title
                </p>
            </div>
        </div>
    }

    <div class="row mr-0">
        <div class="col-md-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class=" form-group row">
                    <div class="col-md-12 pr-0">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Isim, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Isim, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : Minnoşlar Paketi" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Fiyat, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : 120" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Süresi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Süresi, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : 1 Aylık" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.OzellikBirRed, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.OzellikBirRed, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : 1 ay" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.OzellikBir, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.OzellikBir, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : Detoks programı" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.OzellikIkiRed, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.OzellikIkiRed, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : 1 - 3 Kilo" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.OzellikIki, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.OzellikIki, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : Arası hedef" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.OzellikUcRed, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.OzellikUcRed, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : Motivasyon " } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.OzellikUc, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.OzellikUc, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : Günlük WhatsApp görüşmesi" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Renk, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.Renk, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : #CD5C5C" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.RenkButton, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.RenkButton, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Örnek : btn-outline-danger " } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.TextAreaFor(model => model.Aciklama, 5, 140, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    <div class="col-md-12 pr-0 text-right">
                        @Bootstrap.LinkButton("/Paket/Index", "secondary", string.Empty,
                  string.Empty, "arrow-left", "Geri Dön !")
                        @Bootstrap.Button("success", string.Empty, "submit", "save", "Oluştur")
                    </div>
                </div>
            }
        </div>
    </div>
</div>