@model DiyetisyenGultenManav.Entities.Paket

@{
    ViewBag.Title = "Paket Detayı";
}
<link href="~/Content/new-login-style-kullanici.css" rel="stylesheet" />
<style>
    .vertical-strech {
        height: 100vh;
    }
</style>
<div class="login-block pl-5 pt-3 mr-0 vertical-strech">
    <div class="row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>
    <div class="row pl-3 mr-0">
        <div class="col-md-10">
            <div>
                <dl class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Isim)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Isim)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Fiyat)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Fiyat)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Süresi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Süresi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.OzellikBirRed)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.OzellikBirRed)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.OzellikBir)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.OzellikBir)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.OzellikIkiRed)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.OzellikIkiRed)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.OzellikIki)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.OzellikIki)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.OzellikUcRed)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.OzellikUcRed)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.OzellikUc)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.OzellikUc)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Renk)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Renk)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.RenkButton)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.RenkButton)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Aciklama)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Aciklama)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.ModifiedUsername)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.ModifiedUsername)
                    </dd>

                </dl>
            </div>
        </div>
        <div class="col-md-10 pl-3">
            <p>
                @Bootstrap.LinkButton("/Paket/Index", "secondary", string.Empty,
               string.Empty, "arrow-left", "Geri Dön!")
                @Bootstrap.LinkButton("/BlogYazısı/Edit/" + Model.Id, "warning", string.Empty,
               string.Empty, "edit", "Düzenle")

            </p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h3>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            <br />  <b>açıklama konulacak</b>
        </h3>
    </div>
</div>