@model DiyetisyenGultenManav.Entities.Diet
@{
    ViewBag.Title = "DiyetisyenBilgileriDetails";
}
@for (int i = 0; i < 10; i++)
{
    <br />
}
<h2>Diyetisyen Bilgileri Detayı</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hastalik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hastalik)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tahlil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tahlil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Olcum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Olcum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hikaye)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hikaye)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EkAciklama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EkAciklama)
        </dd>
    </dl>
</div>
<p>
    @Bootstrap.LinkButton("/Diet/EditDiyetisyenBilgileri/" + Model.Id, "warning", string.Empty, string.Empty, "edit", " Edit")
    @Bootstrap.LinkButton("/Diet/IndexDiyetisyenBilgileri", "default", string.Empty, string.Empty, "arrow-left", " Back to List")
</p>
