@model DiyetisyenGultenManav.Entities.Diet
@{
    ViewBag.Title = "DANIŞAN BAŞARI HİKAYESİ DÜZENLE";
}
<link href="~/Content/new-login-style-diyet.css" rel="stylesheet" />
<link href="~/Content/validation-summary.css" rel="stylesheet" />
<style>
    .vertical-strech {
        height: 100vh;
    }
</style>
<div class="login-block pl-5 pt-3 mr-0 vertical-strech">
    <div class="row pl-5 pt-3 mr-0">
        <div class="col-md-12">
            <p class="display-4 text-center font-weight-bold">
                @ViewBag.Title
            </p>
        </div>
    </div>
    <div class="row pl-5 mr-0">
        <div class="col-md-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class=" form-group row">
                    <div class="col-md-12 pr-0">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(model => model.Id)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.BasariHikayesi, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.BasariHikayesi, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.BaslangicKilosu, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.BaslangicKilosu, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.HaftaBir, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.HaftaBir, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.HaftaIki, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.HaftaIki, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.HaftaUc, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.HaftaUc, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.HaftaDort, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                    @Html.EditorFor(model => model.HaftaDort, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                </div>
                <div class="form-group row">
                    <div class="col-md-12 pr-0 text-right">
                        @Bootstrap.LinkButton("/Diet/IndexDanisanBasariHikayesi", "secondary", string.Empty,
                  string.Empty, "arrow-left", "Geri Dön !")
                        @Bootstrap.Button("success", string.Empty, "submit", "save", "Kaydet")
                    </div>
                </div>
            }
        </div>
    </div>
</div>