@model IEnumerable<DiyetisyenGultenManav.Entities.Diet>
@{
    ViewBag.Title = "DiyetisyenBilgileri";
}
@for (int i = 0; i < 3; i++)
{
    <br />
}
<h2>DiyetisyenBilgileri</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hastalik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tahlil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Olcum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hikaye)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EkAciklama)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hastalik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tahlil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Olcum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hikaye)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkAciklama)
            </td>
            <td>
                @Bootstrap.LinkButton("/Diet/EditDiyetisyenBilgileri/" + @item.Id, "warning", "btn-xs", "Edit", "edit", string.Empty)
                @Bootstrap.LinkButton("/Diet/DetailsDiyetisyenBilgileri/" + @item.Id, "info", "btn-xs", "Details", "search", string.Empty)
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
