@model IEnumerable<DiyetisyenGultenManav.Entities.Diet>
@{
    ViewBag.Title = "DİYETİM ";
}
<link href="~/Content/new-login-style-kategori.css" rel="stylesheet" />

<div class="login-block pl-5 pt-5 mr-0">
    <div class="row">
        <div class="col-md-5 text-center">
            <img src="https://picsum.photos/600/800" alt="" />
        </div>
        <div class="col-md-6 mr-0">
            @foreach (var item in Model)
            {
                <p>
                    <h1 style="color: white;" class="ml-2"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></h1> <br />
                    <h2 style="color: white;" class="ml-5 font-italic">@Html.DisplayFor(modelItem => item.Description)</h2> <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetSabah)</b>&emsp;<i class="fa fa-forumbee"></i></h3>
                    <h5>  @Html.DisplayFor(modelItem => item.DiyetSabah)</h5>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetAraBir)</b>&emsp;<i class="fa fa-reddit"></i></h3>
                    <h5>@Html.DisplayFor(modelItem => item.DiyetAraBir)</h5>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetOglen)</b>&emsp;<i class="fa fa-drupal"></i></h3>
                    <h5>@Html.DisplayFor(modelItem => item.DiyetOglen)</h5>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetAraIki)</b>&emsp;<i class="fa fa-gitlab"></i></h3>
                    <h5>@Html.DisplayFor(modelItem => item.DiyetAraIki)</h5>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetAksam)</b>&emsp;<i class="fa fa-github-alt"></i></h3>
                    <h5>@Html.DisplayFor(modelItem => item.DiyetAksam)</h5>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetGece)</b>&emsp;<i class="fa fa-github"></i></h3>
                    <h5>@Html.DisplayFor(modelItem => item.DiyetGece)<</h5>
                    <br /><br /><br /><br /><br /><br /><br /><br />
                </p>
            }
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-6 text-center">
        <h3>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            <br />  <b>Diyet Listesini ile açıklama konulacak</b>
        </h3>
    </div>
</div>