@model IEnumerable<DiyetisyenGultenManav.Entities.Diet>
@{
    ViewBag.Title = "DİYETİM ";
}
<style>
    .resim {
        object-fit: fill;
        margin-right: 20px;
        width:100%;
        height:100%;
        max-height: 1000px;
        min-width: 800px;
    }
    .resimMobile {
        object-fit: fill;
        align-content:center;
        width: 100%;
        height: 100%;
        max-height: 250px;
        min-width: 175px;

    }
    .sayfaArkaPlan {
        /*background: #DE6262;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*        background-color: rgba(222, 98, 98, 0.5);*/
        background: rgba(222, 98, 98, 0.7);
        background: -webkit-linear-gradient(to top, rgba(169, 223, 191,0.8), rgba( 52, 152, 219, 0.7));
        background: linear-gradient(to top, rgba(169, 223, 191,0.8), rgba( 52, 152, 219,0.7));
        min-height: 1500px;
        height: 100%;
        min-width: 100%;
    }
</style>
<div class="sayfaArkaPlan pl-2 pt-5 container">
    <div class="row">
        @if (Request.Browser.IsMobileDevice)
        {<div class="col-12">
                <img src="~/images/diyetim.jpg" alt="" class="resimMobile" />
            </div>
            <div class="col-12">
                @foreach (var item in Model)
                {
                    <p>
                        <h1 style="color: white;" class="ml-2"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></h1> <br />
                        <h2 style="color: white;" class="ml-5 font-italic">@Html.DisplayFor(modelItem => item.Description)</h2> <br />
                    </p>
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetSabah)</b>&emsp;<i class="fa fa-odnoklassniki"></i></h3>
                    <p style="font-size:20px;">  @Html.DisplayFor(modelItem => item.DiyetSabah)</p>
                    <br />
                    <h3 title="Ara Öğün"><b>@Html.DisplayNameFor(model => model.DiyetAraBir)</b>&emsp;<i class="fa fa-angellist"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetAraBir) </p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetOglen)</b>&emsp;<i class="fa fa-reddit-alien"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetOglen)</p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetAraIki)</b>&emsp;<i class="fa fa-angellist"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetAraIki)</p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetAksam)</b>&emsp;<i class="fa fa-github-alt"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetAksam)</p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetGece)</b>&emsp;<i class="fa fa-linux"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetGece)</p>
                }
            </div>
        }
        else
        {
            <div class="col-5">
                <img src="https://lh3.googleusercontent.com/jYrONWYgKqStxkt1W3X-j-WsAzrouvsghd41uZIekFyWbUHm1xN9pme4QbDPpu6NAGRZjZRaJwUIoTsrQ53vD2v2d6h9Sx2dYJ18d5TXba6AT0GA2K_uJ6gxjsOIvv0jTuS28rfBCbiVBlWVWPqvZFADrWReT_tv2g8xha--O0F_lg2bo1SuxrhXsJYYmqBMcaLEUZIcHihF2uuUJyWtq2_TQCOdZIVTPzkfGknwvchdmrWQ2CD906_-cDv-yJdiztZ4iSdgJIFjGZnnkc8VQcMTFAtXKqiW-JEE6J1FNE4ViOBE-oSLNuGqK5LbOnjkISGSZgNQO7dutmCSH9CHNlJkL6V5PA488FS9hyxIdt2Kg8QqvtXLOm4-QzdyCxBG-PmWBnt61AUXiHSGaQzf6rdtHqwf-XLWv9zscYNBQIAOOwcTWUpWpKF0-_24qAKAMprUP37SXvauaMzjEqRyUEilI2EFMjyNYPeraqMbcw_e-4vI7-w1-3Xqxn2OzhnIoZyJ1IfHrHigcx-dA5uaG2Nd3MDrgz0beKRFCO_eTpugjK0sG29hYmRdlyjHstew6c2V0DcRzTd2psZYvSIo7byTK2-o7YiBCIWYWYOMLDb0MG5q25vHq0yC544aQp3hxmiAnijazEH2oPVwDCvqrLr5fyvYGffrZJR5pojfTeolbJKf79rQUzR1Zuw_Aw=w751-h938-no?authuser=0" alt="" class="resim" />
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                @foreach (var item in Model)
                {
                    <p>
                        <h1 style="color: white;" class="ml-2"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></h1> <br />
                        <h2 style="color: white;" class="ml-5 font-italic">@Html.DisplayFor(modelItem => item.Description)</h2> <br />
                    </p>
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetSabah)</b>&emsp;<i class="fa fa-odnoklassniki"></i></h3>
                    <p style="font-size:20px;">  @Html.DisplayFor(modelItem => item.DiyetSabah)</p>
                    <br />
                    <h3 title="Ara Öğün"><b>@Html.DisplayNameFor(model => model.DiyetAraBir)</b>&emsp;<i class="fa fa-angellist"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetAraBir) </p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetOglen)</b>&emsp;<i class="fa fa-reddit-alien"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetOglen)</p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetAraIki)</b>&emsp;<i class="fa fa-angellist"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetAraIki)</p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetAksam)</b>&emsp;<i class="fa fa-github-alt"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetAksam)</p>
                    <br />
                    <h3><b>@Html.DisplayNameFor(model => model.DiyetGece)</b>&emsp;<i class="fa fa-linux"></i></h3>
                    <p style="font-size:20px;">@Html.DisplayFor(modelItem => item.DiyetGece)</p>
                }
            </div>
        }
    </div>
    <br />
    <div class="col-md-12 text-left">
        <p>
            <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"><b>Sayfa Açıklaması</b></button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body text-left sayfaArkaPlan pl-4" style="min-height:100%;">
                        <p>
                            <b>Diyetime Nasıl Ulaşabilirim ?</b> <br />
                            Diyetisyeniniz belirli tarihler arasında diyetinizi yazar ve yazdığı an diyetinizi görebilirsiniz.<br />
                            Eğer Diyetinizi Göremiyorsanız lütfen Diyetisyeninizle iletişime geçiniz.
                        </p>
                        <ul>
                            <b>Diyetim Sayfasında </b>
                            <li>Diyet Adınızı</li>
                            <li>Diyet Açıklamasını</li>
                            <li>Diyetinizi</li>
                            görelibirsiniz.
                        </ul>
                        <hr />
                        <p>
                            Beklenmedik Bir Durum Halinde  İletişime geçiniz : Gazihand@gmail.com
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>