@model DiyetisyenGultenManav.Entities.Kahve

@{
    ViewBag.Title = "Kahve Sil";
}
<style>
    .sayfaArkaPlan {
        /*background: #DE6262;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #FFB88C, #DE6262);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*        background-color: rgba(222, 98, 98, 0.5);*/
        background: rgba(215, 189, 226, 0.7);
        background: -webkit-linear-gradient(to bottom, rgba( 237, 187, 153,0.8), rgba(110, 44, 0, 0.7));
        background: linear-gradient(to bottom, rgba( 237, 187, 153,0.8), rgba(110, 44, 0, 0.7));
        min-height: 1000px;
        height: 100%;
        min-width: 100%;
    }
</style>
<div class="sayfaArkaPlan pl-5 pt-3 mr-0 vertical-strech">
    @if (Request.Browser.IsMobileDevice)
    {
        <div class="row pl-5 pt-3 mr-0">
            <div class="col-md-12">
                <p class="text-center font-weight-bold">
                    @ViewBag.Title
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="row pl-5 pt-3 mr-0">
            <div class="col-md-12">
                <p class="display-4 text-center font-weight-bold">
                    @ViewBag.Title
                </p>
            </div>
        </div>
    }
    <div class="row pl-3 mr-0">
        <div class="col-md-10">
            <div>
                <dl class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.ArkaPlanRengi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.ArkaPlanRengi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Ikon)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Ikon)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IkonRengi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.IkonRengi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IkonBoyutu)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.IkonBoyutu)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Sayi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Sayi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.SayiRengi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.SayiRengi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.SayiBoyutu)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.SayiBoyutu)
                    </dd>

                    <dt class="col-md-3">

                        @Html.DisplayNameFor(model => model.Yazi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Yazi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.YaziRengi)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.YaziRengi)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.YaziBoyutu)
                    </dt>

                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.YaziBoyutu)
                    </dd>

                </dl>
            </div>
        </div>
        <div class="col-md-10 pl-3 text-left">
            <h3><b>Silmek istediğinize Emin misiniz ? </b></h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Bootstrap.LinkButton("/Kahve/Index", "secondary", string.Empty,
         string.Empty, "arrow-left", "Geri Dön!")
                    @Bootstrap.Button("danger", string.Empty, "submit", "trash", "Sil")

                </div>
            }
        </div>
    </div>
</div>